.org-ahs {
  /* ahs-face */
  color: #f8f8ff;
  background-color: #8b8b7a;
}
.org-ahs-definition {
  /* ahs-definition-face */
  color: #ffe4b5;
  background-color: #5f9ea0;
  text-decoration: underline;
}
.org-ahs-edit-mode {
  /* ahs-edit-mode-face */
  color: #ffffff;
  background-color: #cd5b45;
}
.org-ahs-plugin-bod {
  /* ahs-plugin-bod-face */
  color: #000000;
  background-color: #1e90ff;
}
.org-ahs-plugin-defalt {
  /* ahs-plugin-defalt-face */
  color: #000000;
  background-color: #ffa500;
}
.org-ahs-plugin-whole-buffer {
  /* ahs-plugin-whole-buffer-face */
  color: #000000;
  background-color: #adff2f;
}
.org-ahs-warning {
  /* ahs-warning-face */
  color: #ff0000;
  font-weight: bold;
}
.org-alchemist-goto--def {
  /* alchemist-goto-def-face */
  color: #a281ff;
}
.org-alchemist-goto--name {
  /* alchemist-goto-name-face */
  font-weight: bold;
}
.org-alchemist-help-key {
  /* alchemist-help-key-face */
  color: #ff0000;
  font-weight: bold;
}
.org-alchemist-test--failed {
  /* alchemist-test-failed-face */
  color: #ffffff;
  background-color: #ff0000;
  font-weight: bold;
}
.org-alchemist-test--stacktrace-file-and-location {
  /* alchemist-test-stacktrace-file-and-location-face */
  color: #f92672;
  font-weight: bold;
}
.org-alchemist-test--success {
  /* alchemist-test-success-face */
  color: #ffffff;
  background-color: #006400;
  font-weight: bold;
}
.org-alchemist-test--test-file-and-location {
  /* alchemist-test-test-file-and-location-face */
  color: #f92672;
  font-weight: bold;
}
.org-all-the-icons-blue {
  /* all-the-icons-blue */
  color: #6A9FB5;
}
.org-all-the-icons-blue-alt {
  /* all-the-icons-blue-alt */
  color: #2188b6;
}
.org-all-the-icons-cyan {
  /* all-the-icons-cyan */
  color: #75B5AA;
}
.org-all-the-icons-cyan-alt {
  /* all-the-icons-cyan-alt */
  color: #61dafb;
}
.org-all-the-icons-dblue {
  /* all-the-icons-dblue */
  color: #446674;
}
.org-all-the-icons-dcyan {
  /* all-the-icons-dcyan */
  color: #48746D;
}
.org-all-the-icons-dgreen {
  /* all-the-icons-dgreen */
  color: #6D8143;
}
.org-all-the-icons-dmaroon {
  /* all-the-icons-dmaroon */
  color: #72584B;
}
.org-all-the-icons-dorange {
  /* all-the-icons-dorange */
  color: #915B2D;
}
.org-all-the-icons-dpink {
  /* all-the-icons-dpink */
  color: #B18286;
}
.org-all-the-icons-dpurple {
  /* all-the-icons-dpurple */
  color: #694863;
}
.org-all-the-icons-dred {
  /* all-the-icons-dred */
  color: #843031;
}
.org-all-the-icons-dsilver {
  /* all-the-icons-dsilver */
  color: #838484;
}
.org-all-the-icons-dyellow {
  /* all-the-icons-dyellow */
  color: #B48D56;
}
.org-all-the-icons-green {
  /* all-the-icons-green */
  color: #90A959;
}
.org-all-the-icons-lblue {
  /* all-the-icons-lblue */
  color: #8FD7F4;
}
.org-all-the-icons-lcyan {
  /* all-the-icons-lcyan */
  color: #A5FDEC;
}
.org-all-the-icons-lgreen {
  /* all-the-icons-lgreen */
  color: #C6E87A;
}
.org-all-the-icons-lmaroon {
  /* all-the-icons-lmaroon */
  color: #CE7A4E;
}
.org-all-the-icons-lorange {
  /* all-the-icons-lorange */
  color: #FFA500;
}
.org-all-the-icons-lpink {
  /* all-the-icons-lpink */
  color: #FFBDC1;
}
.org-all-the-icons-lpurple {
  /* all-the-icons-lpurple */
  color: #E69DD6;
}
.org-all-the-icons-lred {
  /* all-the-icons-lred */
  color: #EB595A;
}
.org-all-the-icons-lsilver {
  /* all-the-icons-lsilver */
  color: #B9B6AA;
}
.org-all-the-icons-lyellow {
  /* all-the-icons-lyellow */
  color: #FFC16D;
}
.org-all-the-icons-maroon {
  /* all-the-icons-maroon */
  color: #8F5536;
}
.org-all-the-icons-orange {
  /* all-the-icons-orange */
  color: #D4843E;
}
.org-all-the-icons-pink {
  /* all-the-icons-pink */
  color: #F2B4B8;
}
.org-all-the-icons-purple {
  /* all-the-icons-purple */
  color: #AA759F;
}
.org-all-the-icons-purple-alt {
  /* all-the-icons-purple-alt */
  color: #5D54E1;
}
.org-all-the-icons-red {
  /* all-the-icons-red */
  color: #AC4142;
}
.org-all-the-icons-red-alt {
  /* all-the-icons-red-alt */
  color: #ce5643;
}
.org-all-the-icons-silver {
  /* all-the-icons-silver */
  color: #716E68;
}
.org-all-the-icons-yellow {
  /* all-the-icons-yellow */
  color: #FFD446;
}
.org-anzu-match-1 {
  /* anzu-match-1 */
  color: #000000;
  background-color: #32cd32;
}
.org-anzu-match-2 {
  /* anzu-match-2 */
  color: #000000;
  background-color: #ffff00;
}
.org-anzu-match-3 {
  /* anzu-match-3 */
  color: #000000;
  background-color: #7fffd4;
}
.org-anzu-mode-line {
  /* anzu-mode-line */
  color: #ff00ff;
  font-weight: bold;
}
.org-anzu-mode-line-no-match {
  /* anzu-mode-line-no-match */
  color: #ff00ff;
  font-weight: bold;
}
.org-anzu-replace-highlight {
  /* anzu-replace-highlight */
  color: #ff0000;
  background-color: #454640;
  font-weight: bold;
}
.org-anzu-replace-to {
  /* anzu-replace-to */
  color: #ffff00;
}
.org-bold {
  /* bold */
  font-weight: bold;
}
.org-bold-italic {
  /* bold-italic */
  font-weight: bold;
  font-style: italic;
}
.org-border {
}
.org-buffer-menu-buffer {
  /* buffer-menu-buffer */
  font-weight: bold;
}
.org-builtin {
  /* font-lock-builtin-face */
  color: #66d9ef;
}
.org-button {
  /* button */
  color: #a281ff;
  text-decoration: underline;
}
.org-c-annotation {
  /* c-annotation-face */
  color: #a281ff;
}
.org-calendar-month-header {
  /* calendar-month-header */
  color: #9ce22e;
  font-weight: bold;
}
.org-calendar-today {
  /* calendar-today */
  text-decoration: underline;
}
.org-calendar-weekday-header {
  /* calendar-weekday-header */
  color: #a281ff;
}
.org-calendar-weekend-header {
  /* calendar-weekend-header */
  color: #626262;
}
.org-change-log-acknowledgment {
  /* change-log-acknowledgment */
  color: #626262;
}
.org-change-log-conditionals {
  /* change-log-conditionals */
  color: #f92672;
}
.org-change-log-date {
  /* change-log-date */
  color: #e6db74;
}
.org-change-log-email {
  /* change-log-email */
  color: #f92672;
}
.org-change-log-file {
  /* change-log-file */
  color: #9ce22e;
  font-weight: bold;
}
.org-change-log-function {
  /* change-log-function */
  color: #f92672;
}
.org-change-log-list {
  /* change-log-list */
  color: #f92672;
  font-weight: bold;
}
.org-change-log-name {
  /* change-log-name */
  color: #a281ff;
}
.org-comint-highlight-input {
  /* comint-highlight-input */
  font-weight: bold;
}
.org-comint-highlight-prompt {
  /* comint-highlight-prompt */
  color: #db2765;
  font-weight: bold;
}
.org-comment {
  /* font-lock-comment-face */
  color: #626262;
}
.org-comment-delimiter {
  /* font-lock-comment-delimiter-face */
  color: #626262;
}
.org-company-echo {
}
.org-company-echo-common {
  /* company-echo-common */
  color: #262626;
  background-color: #f8f8f2;
}
.org-company-preview {
  /* company-preview */
  color: #fd4d80;
  background-color: #262626;
}
.org-company-preview-common {
  /* company-preview-common */
  color: #ababa0;
}
.org-company-preview-search {
  /* company-preview-search */
  color: #9ce22e;
  background-color: #262626;
}
.org-company-scrollbar-bg {
  /* company-scrollbar-bg */
  background-color: #454640;
}
.org-company-scrollbar-fg {
  /* company-scrollbar-fg */
  color: #f92672;
}
.org-company-template-field {
  /* company-template-field */
  color: #262626;
  background-color: #f8f8f2;
}
.org-company-tooltip {
  /* company-tooltip */
  color: #bdbdb1;
  background-color: #262626;
  font-weight: bold;
}
.org-company-tooltip-annotation {
  /* company-tooltip-annotation */
  color: #8b0000;
}
.org-company-tooltip-annotation-selection {
  /* company-tooltip-annotation-selection */
  color: #8b0000;
}
.org-company-tooltip-common {
  /* company-tooltip-common */
  color: #ababa0;
}
.org-company-tooltip-common-selection {
  /* company-tooltip-common-selection */
  color: #e6db74;
}
.org-company-tooltip-mouse {
  /* company-tooltip-mouse */
  color: #ababa0;
  background-color: #454640;
}
.org-company-tooltip-search {
  /* company-tooltip-search */
  color: #ababa0;
  background-color: #454640;
}
.org-company-tooltip-search-selection {
  /* company-tooltip-search-selection */
  color: #ababa0;
  background-color: #454640;
}
.org-company-tooltip-selection {
  /* company-tooltip-selection */
  color: #ababa0;
  background-color: #454640;
}
.org-company-web-doc-attribute {
  /* company-web-doc-attribute-face */
  color: #9ce22e;
}
.org-company-web-doc-base {
  /* company-web-doc-base-face */
  color: #00bfff;
}
.org-company-web-doc-header-1 {
  /* company-web-doc-header-1-face */
  color: #00bfff;
  font-weight: bold;
}
.org-company-web-doc-important {
  /* company-web-doc-important-face */
  color: #00bfff;
  font-weight: bold;
}
.org-company-web-doc-tag {
  /* company-web-doc-tag-face */
  color: #9ce22e;
  font-weight: bold;
}
.org-company-web-doc-text-1 {
  /* company-web-doc-text-1-face */
  color: #00bfff;
}
.org-company-web-doc-warning {
  /* company-web-doc-warning-face */
  color: #ff0000;
  background-color: #363631;
}
.org-compilation-column-number {
  /* compilation-column-number */
  color: #626262;
}
.org-compilation-error {
  /* compilation-error */
  color: #ffc0cb;
  font-weight: bold;
}
.org-compilation-info {
  /* compilation-info */
  color: #00ff00;
  font-weight: bold;
}
.org-compilation-line-number {
  /* compilation-line-number */
  color: #f92672;
  font-weight: bold;
}
.org-compilation-mode-line-exit {
  /* compilation-mode-line-exit */
  color: #228b22;
  font-weight: bold;
}
.org-compilation-mode-line-fail {
  /* compilation-mode-line-fail */
  color: #ff0000;
  font-weight: bold;
}
.org-compilation-mode-line-run {
  /* compilation-mode-line-run */
  color: #ff0000;
}
.org-compilation-warning {
  /* compilation-warning */
  color: #ff0000;
}
.org-completions-annotations {
  /* completions-annotations */
  font-style: italic;
}
.org-completions-common-part {
}
.org-completions-first-difference {
  /* completions-first-difference */
  font-weight: bold;
}
.org-constant {
  /* font-lock-constant-face */
  color: #a281ff;
}
.org-css-property {
  /* css-property */
  color: #f92672;
  font-weight: bold;
}
.org-css-selector {
  /* css-selector */
  color: #9ce22e;
  font-weight: bold;
}
.org-cursor {
  /* cursor */
  background-color: #7ec0ee;
}
.org-custom-button {
  /* custom-button */
  color: #f5f5f5;
  background-color: #4d4d4d;
}
.org-custom-button-mouse {
  /* custom-button-mouse */
  color: #f5f5f5;
  background-color: #3b3b3b;
}
.org-custom-button-pressed {
  /* custom-button-pressed */
  color: #000000;
  background-color: #d3d3d3;
}
.org-custom-button-pressed-unraised {
  /* custom-button-pressed-unraised */
  color: #ee82ee;
  text-decoration: underline;
}
.org-custom-button-unraised {
  /* custom-button-unraised */
  text-decoration: underline;
}
.org-custom-changed {
  /* custom-changed */
  color: #ffffff;
  background-color: #0000ff;
}
.org-custom-comment {
  /* custom-comment */
  background-color: #696969;
}
.org-custom-comment-tag {
  /* custom-comment-tag */
  color: #cccccc;
}
.org-custom-documentation {
}
.org-custom-face-tag {
  /* custom-face-tag */
  color: #add8e6;
  font-weight: bold;
}
.org-custom-group-subtitle {
  /* custom-group-subtitle */
  font-weight: bold;
}
.org-custom-group-tag {
  /* custom-group-tag */
  color: #add8e6;
  font-size: 120%;
  font-weight: bold;
}
.org-custom-group-tag-1 {
  /* custom-group-tag-1 */
  color: #ffc0cb;
  font-size: 120%;
  font-weight: bold;
}
.org-custom-invalid {
  /* custom-invalid */
  color: #ffff00;
  background-color: #ff0000;
}
.org-custom-link {
  /* custom-link */
  color: #a281ff;
  text-decoration: underline;
}
.org-custom-modified {
  /* custom-modified */
  color: #ffffff;
  background-color: #0000ff;
}
.org-custom-rogue {
  /* custom-rogue */
  color: #ffc0cb;
  background-color: #000000;
}
.org-custom-saved {
  /* custom-saved */
  text-decoration: underline;
}
.org-custom-set {
  /* custom-set */
  color: #0000ff;
  background-color: #ffffff;
}
.org-custom-state {
  /* custom-state */
  color: #32cd32;
}
.org-custom-themed {
  /* custom-themed */
  color: #ffffff;
  background-color: #0000ff;
}
.org-custom-variable-button {
  /* custom-variable-button */
  font-weight: bold;
  text-decoration: underline;
}
.org-custom-variable-tag {
  /* custom-variable-tag */
  color: #add8e6;
  font-weight: bold;
}
.org-custom-visibility {
  /* custom-visibility */
  color: #a281ff;
  font-size: 80%;
  text-decoration: underline;
}
.org-diary {
  /* diary */
  color: #ffff00;
}
.org-diff-added {
  /* diff-added */
  background-color: #335533;
}
.org-diff-changed {
}
.org-diff-context {
  /* diff-context */
  color: #dddddd;
}
.org-diff-file-header {
  /* diff-file-header */
  background-color: #999999;
  font-weight: bold;
}
.org-diff-function {
  /* diff-function */
  background-color: #737373;
}
.org-diff-header {
  /* diff-header */
  background-color: #737373;
}
.org-diff-hunk-header {
  /* diff-hunk-header */
  background-color: #737373;
}
.org-diff-index {
  /* diff-index */
  background-color: #999999;
  font-weight: bold;
}
.org-diff-indicator-added {
  /* diff-indicator-added */
  background-color: #335533;
}
.org-diff-indicator-changed {
}
.org-diff-indicator-removed {
  /* diff-indicator-removed */
  background-color: #553333;
}
.org-diff-nonexistent {
  /* diff-nonexistent */
  background-color: #999999;
  font-weight: bold;
}
.org-diff-refine-added {
  /* diff-refine-added */
  background-color: #22aa22;
}
.org-diff-refine-changed {
  /* diff-refine-changed */
  background-color: #aaaa22;
}
.org-diff-refine-removed {
  /* diff-refine-removed */
  background-color: #aa2222;
}
.org-diff-removed {
  /* diff-removed */
  background-color: #553333;
}
.org-dired-directory {
  /* dired-directory */
  color: #9ce22e;
  font-weight: bold;
}
.org-dired-flagged {
  /* dired-flagged */
  color: #ffc0cb;
  font-weight: bold;
}
.org-dired-header {
  /* dired-header */
  color: #9ce22e;
}
.org-dired-ignored {
  /* dired-ignored */
  color: #b3b3b3;
}
.org-dired-mark {
  /* dired-mark */
  color: #a281ff;
}
.org-dired-marked {
  /* dired-marked */
  color: #ff0000;
}
.org-dired-perm-write {
  /* dired-perm-write */
  color: #626262;
}
.org-dired-symlink {
  /* dired-symlink */
  color: #f92672;
  font-weight: bold;
}
.org-dired-warning {
  /* dired-warning */
  color: #ff0000;
  background-color: #363631;
}
.org-doc {
  /* font-lock-doc-face */
  color: #626262;
}
.org-eldoc-highlight-function-argument {
  /* eldoc-highlight-function-argument */
  font-weight: bold;
}
.org-elixir-atom {
  /* elixir-atom-face */
  color: #66d9ef;
}
.org-elixir-attribute {
  /* elixir-attribute-face */
  color: #66d9ef;
}
.org-emmet-preview-input {
  /* emmet-preview-input */
  background-color: #4a708b;
}
.org-emmet-preview-output {
  /* emmet-preview-output */
  color: #ababa0;
  background-color: #454640;
}
.org-epa-field-body {
  /* epa-field-body */
  color: #40e0d0;
  font-style: italic;
}
.org-epa-field-name {
  /* epa-field-name */
  color: #afeeee;
  font-weight: bold;
}
.org-epa-mark {
  /* epa-mark */
  color: #ffa500;
  font-weight: bold;
}
.org-epa-string {
  /* epa-string */
  color: #ffffe0;
}
.org-epa-validity-disabled {
  /* epa-validity-disabled */
  font-style: italic;
}
.org-epa-validity-high {
  /* epa-validity-high */
  color: #afeeee;
  font-weight: bold;
}
.org-epa-validity-low {
  /* epa-validity-low */
  font-style: italic;
}
.org-epa-validity-medium {
  /* epa-validity-medium */
  color: #afeeee;
  font-style: italic;
}
.org-error {
  /* error */
  color: #ffc0cb;
  font-weight: bold;
}
.org-escape-glyph {
  /* escape-glyph */
  color: #00ffff;
}
.org-eval-sexp-fu-flash {
  /* eval-sexp-fu-flash */
  background-color: #6a5acd;
}
.org-eval-sexp-fu-flash-error {
  /* eval-sexp-fu-flash-error */
  color: #ff0000;
  font-weight: bold;
}
.org-evil-ex-commands {
  /* evil-ex-commands */
  font-style: italic;
  text-decoration: underline;
}
.org-evil-ex-info {
  /* evil-ex-info */
  color: #ff0000;
  font-style: italic;
}
.org-evil-ex-lazy-highlight {
  /* evil-ex-lazy-highlight */
  color: #bdbdb1;
  background-color: #454640;
}
.org-evil-ex-search {
  /* evil-ex-search */
  color: #ff0000;
  background-color: #454640;
  font-weight: bold;
}
.org-evil-ex-substitute-matches {
  /* evil-ex-substitute-matches */
  color: #bdbdb1;
  background-color: #454640;
}
.org-evil-ex-substitute-replacement {
  /* evil-ex-substitute-replacement */
  color: #ff0000;
  text-decoration: underline;
}
.org-evil-search-highlight-persist-highlight {
  /* evil-search-highlight-persist-highlight-face */
  color: #bdbdb1;
  background-color: #454640;
}
.org-eyebrowse-mode-line-active {
  /* eyebrowse-mode-line-active */
  color: #f8f8f2;
}
.org-eyebrowse-mode-line-delimiters {
}
.org-eyebrowse-mode-line-inactive {
}
.org-eyebrowse-mode-line-separator {
}
.org-ffap {
  /* ffap */
  color: #999990;
}
.org-file-name-shadow {
  /* file-name-shadow */
  color: #b3b3b3;
}
.org-fixed-pitch {
}
.org-fixed-pitch-serif {
}
.org-flx-highlight {
  /* flx-highlight-face */
  color: #f92672;
  font-weight: bold;
  text-decoration: underline;
}
.org-flyspell-duplicate {
  /* flyspell-duplicate */
  text-decoration: underline;
}
.org-flyspell-incorrect {
  /* flyspell-incorrect */
  text-decoration: underline;
}
.org-fringe {
  /* fringe */
  color: #999990;
  background-color: #262626;
}
.org-function-name {
  /* font-lock-function-name-face */
  color: #9ce22e;
  font-weight: bold;
}
.org-git-commit-comment-action {
  /* git-commit-comment-action */
  font-weight: bold;
}
.org-git-commit-comment-branch-local {
  /* git-commit-comment-branch-local */
  color: #f92672;
}
.org-git-commit-comment-branch-remote {
  /* git-commit-comment-branch-remote */
  color: #f92672;
}
.org-git-commit-comment-detached {
  /* git-commit-comment-detached */
  color: #f92672;
}
.org-git-commit-comment-file {
  /* git-commit-comment-file */
  color: #e6db74;
}
.org-git-commit-comment-heading {
  /* git-commit-comment-heading */
  color: #f92672;
  font-weight: bold;
}
.org-git-commit-keyword {
  /* git-commit-keyword */
  color: #e6db74;
}
.org-git-commit-known-pseudo-header {
  /* git-commit-known-pseudo-header */
  color: #f92672;
  font-weight: bold;
}
.org-git-commit-nonempty-second-line {
  /* git-commit-nonempty-second-line */
  color: #ff0000;
  background-color: #363631;
}
.org-git-commit-overlong-summary {
  /* git-commit-overlong-summary */
  color: #ff0000;
  background-color: #363631;
}
.org-git-commit-pseudo-header {
  /* git-commit-pseudo-header */
  color: #e6db74;
}
.org-git-commit-summary {
  /* git-commit-summary */
  color: #9ce22e;
}
.org-git-rebase-comment-hash {
  /* git-rebase-comment-hash */
  color: #bdbdb1;
  font-weight: bold;
}
.org-git-rebase-comment-heading {
  /* git-rebase-comment-heading */
  color: #f92672;
  font-weight: bold;
}
.org-git-rebase-description {
}
.org-git-rebase-hash {
  /* git-rebase-hash */
  color: #bdbdb1;
}
.org-git-rebase-killed-action {
  /* git-rebase-killed-action */
  color: #626262;
  text-decoration: line-through;
}
.org-git-rebase-label {
  /* git-rebase-label */
  color: #cccccc;
}
.org-glyphless-char {
  /* glyphless-char */
  font-size: 60%;
}
.org-gnus-group-mail-1 {
  /* gnus-group-mail-1 */
  color: #e1ffe1;
  font-weight: bold;
}
.org-gnus-group-mail-1-empty {
  /* gnus-group-mail-1-empty */
  color: #e1ffe1;
}
.org-gnus-group-mail-2 {
  /* gnus-group-mail-2 */
  color: #c1ffc1;
  font-weight: bold;
}
.org-gnus-group-mail-2-empty {
  /* gnus-group-mail-2-empty */
  color: #c1ffc1;
}
.org-gnus-group-mail-3 {
  /* gnus-group-mail-3 */
  color: #7fffd4;
  font-weight: bold;
}
.org-gnus-group-mail-3-empty {
  /* gnus-group-mail-3-empty */
  color: #7fffd4;
}
.org-gnus-group-mail-low {
  /* gnus-group-mail-low */
  color: #76eec6;
  font-weight: bold;
}
.org-gnus-group-mail-low-empty {
  /* gnus-group-mail-low-empty */
  color: #76eec6;
}
.org-gnus-group-news-1 {
  /* gnus-group-news-1 */
  color: #afeeee;
  font-weight: bold;
}
.org-gnus-group-news-1-empty {
  /* gnus-group-news-1-empty */
  color: #afeeee;
}
.org-gnus-group-news-2 {
  /* gnus-group-news-2 */
  color: #40e0d0;
  font-weight: bold;
}
.org-gnus-group-news-2-empty {
  /* gnus-group-news-2-empty */
  color: #40e0d0;
}
.org-gnus-group-news-3 {
  /* gnus-group-news-3 */
  font-weight: bold;
}
.org-gnus-group-news-3-empty {
}
.org-gnus-group-news-4 {
  /* gnus-group-news-4 */
  font-weight: bold;
}
.org-gnus-group-news-4-empty {
}
.org-gnus-group-news-5 {
  /* gnus-group-news-5 */
  font-weight: bold;
}
.org-gnus-group-news-5-empty {
}
.org-gnus-group-news-6 {
  /* gnus-group-news-6 */
  font-weight: bold;
}
.org-gnus-group-news-6-empty {
}
.org-gnus-group-news-low {
  /* gnus-group-news-low */
  color: #00ced1;
  font-weight: bold;
}
.org-gnus-group-news-low-empty {
  /* gnus-group-news-low-empty */
  color: #00ced1;
}
.org-gnus-splash {
  /* gnus-splash */
  color: #cccccc;
}
.org-gnus-summary-cancelled {
  /* gnus-summary-cancelled */
  color: #ffff00;
  background-color: #000000;
}
.org-gnus-summary-high-ancient {
  /* gnus-summary-high-ancient */
  color: #87ceeb;
  font-weight: bold;
}
.org-gnus-summary-high-read {
  /* gnus-summary-high-read */
  color: #98fb98;
  font-weight: bold;
}
.org-gnus-summary-high-ticked {
  /* gnus-summary-high-ticked */
  color: #ffc0cb;
  font-weight: bold;
}
.org-gnus-summary-high-undownloaded {
  /* gnus-summary-high-undownloaded */
  color: #d3d3d3;
  font-weight: bold;
}
.org-gnus-summary-high-unread {
  /* gnus-summary-high-unread */
  font-weight: bold;
}
.org-gnus-summary-low-ancient {
  /* gnus-summary-low-ancient */
  color: #87ceeb;
  font-style: italic;
}
.org-gnus-summary-low-read {
  /* gnus-summary-low-read */
  color: #98fb98;
  font-style: italic;
}
.org-gnus-summary-low-ticked {
  /* gnus-summary-low-ticked */
  color: #ffc0cb;
  font-style: italic;
}
.org-gnus-summary-low-undownloaded {
  /* gnus-summary-low-undownloaded */
  color: #d3d3d3;
  font-style: italic;
}
.org-gnus-summary-low-unread {
  /* gnus-summary-low-unread */
  font-style: italic;
}
.org-gnus-summary-normal-ancient {
  /* gnus-summary-normal-ancient */
  color: #87ceeb;
}
.org-gnus-summary-normal-read {
  /* gnus-summary-normal-read */
  color: #98fb98;
}
.org-gnus-summary-normal-ticked {
  /* gnus-summary-normal-ticked */
  color: #ffc0cb;
}
.org-gnus-summary-normal-undownloaded {
  /* gnus-summary-normal-undownloaded */
  color: #d3d3d3;
}
.org-gnus-summary-normal-unread {
}
.org-gnus-summary-selected {
  /* gnus-summary-selected */
  text-decoration: underline;
}
.org-header-line {
  /* header-line */
  color: #e5e5e5;
  background-color: #333333;
  font-weight: bold;
}
.org-header-line-highlight {
  /* header-line-highlight */
  color: #ababa0;
  background-color: #454640;
}
.org-helm-action {
  /* helm-action */
  text-decoration: underline;
}
.org-helm-buffer-archive {
  /* helm-buffer-archive */
  color: #ffd700;
}
.org-helm-buffer-directory {
  /* helm-buffer-directory */
  color: #8b0000;
  background-color: #d3d3d3;
}
.org-helm-buffer-file {
  /* helm-buffer-file */
  color: #66d9ef;
}
.org-helm-buffer-modified {
  /* helm-buffer-modified */
  color: #626262;
}
.org-helm-buffer-not-saved {
  /* helm-buffer-not-saved */
  color: #9ce22e;
  background-color: #262626;
}
.org-helm-buffer-process {
  /* helm-buffer-process */
  color: #66d9ef;
  background-color: #262626;
}
.org-helm-buffer-saved-out {
  /* helm-buffer-saved-out */
  color: #f8f8f2;
  background-color: #262626;
}
.org-helm-buffer-size {
  /* helm-buffer-size */
  color: #f8f8f2;
  background-color: #262626;
}
.org-helm-candidate-number {
  /* helm-candidate-number */
  color: #262626;
  background-color: #f8f8f2;
}
.org-helm-candidate-number-suspended {
  /* helm-candidate-number-suspended */
  color: #262626;
  background-color: #f8f8f2;
}
.org-helm-delete-async-message {
  /* helm-delete-async-message */
  color: #ffff00;
}
.org-helm-eob-line {
  /* helm-eob-line */
  color: #f8f8f2;
  background-color: #262626;
}
.org-helm-etags-file {
  /* helm-etags-file */
  color: #8b814c;
  text-decoration: underline;
}
.org-helm-ff-denied {
  /* helm-ff-denied */
  color: #ff0000;
  background-color: #000000;
}
.org-helm-ff-directory {
  /* helm-ff-directory */
  color: #9ce22e;
  background-color: #262626;
  font-weight: bold;
}
.org-helm-ff-dirs {
  /* helm-ff-dirs */
  color: #9ce22e;
  font-weight: bold;
}
.org-helm-ff-dotted-directory {
  /* helm-ff-dotted-directory */
  color: #000000;
  background-color: #696969;
}
.org-helm-ff-dotted-symlink-directory {
  /* helm-ff-dotted-symlink-directory */
  color: #ff8c00;
  background-color: #696969;
}
.org-helm-ff-executable {
  /* helm-ff-executable */
  color: #fd4d80;
  background-color: #262626;
}
.org-helm-ff-file {
  /* helm-ff-file */
  color: #f8f8f2;
  background-color: #262626;
}
.org-helm-ff-invalid-symlink {
  /* helm-ff-invalid-symlink */
  color: #db2765;
  background-color: #262626;
  font-weight: bold;
}
.org-helm-ff-pipe {
  /* helm-ff-pipe */
  color: #ffff00;
  background-color: #000000;
}
.org-helm-ff-prefix {
  /* helm-ff-prefix */
  color: #262626;
  background-color: #f92672;
}
.org-helm-ff-rsync-progress {
  /* helm-ff-rsync-progress */
  color: #ff0000;
  background-color: #363631;
}
.org-helm-ff-socket {
  /* helm-ff-socket */
  color: #ff1493;
}
.org-helm-ff-suid {
  /* helm-ff-suid */
  color: #ffffff;
  background-color: #ff0000;
}
.org-helm-ff-symlink {
  /* helm-ff-symlink */
  color: #f92672;
  background-color: #262626;
  font-weight: bold;
}
.org-helm-ff-truename {
  /* helm-ff-truename */
  color: #e6db74;
}
.org-helm-grep-cmd-line {
  /* helm-grep-cmd-line */
  color: #f8f8f2;
  background-color: #262626;
}
.org-helm-grep-file {
  /* helm-grep-file */
  color: #f8f8f2;
  background-color: #262626;
}
.org-helm-grep-finish {
  /* helm-grep-finish */
  color: #bdbdb1;
  background-color: #262626;
}
.org-helm-grep-lineno {
  /* helm-grep-lineno */
  color: #f8f8f2;
  background-color: #262626;
}
.org-helm-grep-match {
  /* helm-grep-match */
  color: #ffd700;
}
.org-helm-header {
  /* helm-header */
  color: #bdbdb1;
  background-color: #262626;
}
.org-helm-header-line-left-margin {
  /* helm-header-line-left-margin */
  color: #000000;
  background-color: #ffff00;
}
.org-helm-helper {
  /* helm-helper */
  color: #bdbdb1;
  background-color: #262626;
}
.org-helm-history-deleted {
  /* helm-history-deleted */
  color: #db2765;
  background-color: #262626;
  font-weight: bold;
}
.org-helm-history-remote {
  /* helm-history-remote */
  color: #ff6a6a;
}
.org-helm-lisp-completion-info {
  /* helm-lisp-completion-info */
  color: #ff0000;
}
.org-helm-lisp-show-completion {
  /* helm-lisp-show-completion */
  background-color: #2f4f4f;
}
.org-helm-locate-finish {
  /* helm-locate-finish */
  color: #00ff00;
}
.org-helm-m-x-key {
  /* helm-M-x-key */
  color: #ffa500;
  text-decoration: underline;
}
.org-helm-match {
  /* helm-match */
  color: #ffd700;
}
.org-helm-match-item {
  /* helm-match-item */
  color: #ff0000;
  background-color: #454640;
  font-weight: bold;
}
.org-helm-minibuffer-prompt {
  /* helm-minibuffer-prompt */
  color: #db2765;
  font-weight: bold;
}
.org-helm-moccur-buffer {
  /* helm-moccur-buffer */
  color: #9ce22e;
  background-color: #262626;
}
.org-helm-mode-prefix {
  /* helm-mode-prefix */
  color: #000000;
  background-color: #ff0000;
}
.org-helm-non-file-buffer {
  /* helm-non-file-buffer */
  font-style: italic;
}
.org-helm-prefarg {
  /* helm-prefarg */
  color: #00ff00;
}
.org-helm-resume-need-update {
  /* helm-resume-need-update */
  background-color: #ff0000;
}
.org-helm-selection {
  /* helm-selection */
  background-color: #363631;
}
.org-helm-selection-line {
  /* helm-selection-line */
  background-color: #363631;
}
.org-helm-separator {
  /* helm-separator */
  color: #9ce22e;
  background-color: #262626;
}
.org-helm-source-header {
  /* helm-source-header */
  color: #f92672;
  background-color: #262626;
  font-weight: bold;
}
.org-helm-swoop-line-number {
  /* helm-swoop-line-number-face */
  color: #999999;
}
.org-helm-swoop-target-line {
  /* helm-swoop-target-line-face */
  color: #222222;
  background-color: #e3e300;
}
.org-helm-swoop-target-line-block {
  /* helm-swoop-target-line-block-face */
  color: #222222;
  background-color: #cccc00;
}
.org-helm-swoop-target-word {
  /* helm-swoop-target-word-face */
  color: #ffffff;
  background-color: #7700ff;
}
.org-helm-visible-mark {
  /* helm-visible-mark */
  color: #262626;
  background-color: #454640;
}
.org-help-argument-name {
  /* help-argument-name */
  font-style: italic;
}
.org-hi-black-b {
  /* hi-black-b */
  font-weight: bold;
}
.org-hi-black-hb {
  /* hi-black-hb */
  font-size: 167%;
  font-weight: bold;
}
.org-hi-blue {
  /* hi-blue */
  color: #000000;
  background-color: #add8e6;
}
.org-hi-blue-b {
  /* hi-blue-b */
  color: #0000ff;
  font-weight: bold;
}
.org-hi-green {
  /* hi-green */
  color: #000000;
  background-color: #90ee90;
}
.org-hi-green-b {
  /* hi-green-b */
  color: #00ff00;
  font-weight: bold;
}
.org-hi-pink {
  /* hi-pink */
  color: #000000;
  background-color: #ffc0cb;
}
.org-hi-red-b {
  /* hi-red-b */
  color: #ff0000;
  font-weight: bold;
}
.org-hi-yellow {
  /* hi-yellow */
  color: #000000;
  background-color: #ffff00;
}
.org-highlight {
  /* highlight */
  color: #ababa0;
  background-color: #454640;
}
.org-highlight-numbers-number {
  /* highlight-numbers-number */
  color: #a281ff;
}
.org-hl-line {
  /* hl-line */
  background-color: #363631;
}
.org-hl-paren {
}
.org-hl-todo {
  /* hl-todo */
  color: #cc9393;
  font-weight: bold;
}
.org-hlt-property-highlight {
  /* hlt-property-highlight */
  background-color: #000080;
}
.org-hlt-regexp-level-1 {
  /* hlt-regexp-level-1 */
  background-color: #071F473A0000;
}
.org-hlt-regexp-level-2 {
  /* hlt-regexp-level-2 */
  background-color: #507400002839;
}
.org-hlt-regexp-level-3 {
  /* hlt-regexp-level-3 */
  background-color: #4517305D0000;
}
.org-hlt-regexp-level-4 {
  /* hlt-regexp-level-4 */
  background-color: #176900004E0A;
}
.org-hlt-regexp-level-5 {
  /* hlt-regexp-level-5 */
  background-color: #04602BC00000;
}
.org-hlt-regexp-level-6 {
  /* hlt-regexp-level-6 */
  background-color: #32F200001979;
}
.org-hlt-regexp-level-7 {
  /* hlt-regexp-level-7 */
  background-color: #316B22970000;
}
.org-hlt-regexp-level-8 {
  /* hlt-regexp-level-8 */
  background-color: #12EC00003F0E;
}
.org-holiday {
  /* holiday */
  background-color: #8b4513;
}
.org-homoglyph {
  /* homoglyph */
  color: #00ffff;
}
.org-hydra-face-amaranth {
  /* hydra-face-amaranth */
  color: #E52B50;
  font-weight: bold;
}
.org-hydra-face-blue {
  /* hydra-face-blue */
  color: #8ac6f2;
  font-weight: bold;
}
.org-hydra-face-pink {
  /* hydra-face-pink */
  color: #FF6EB4;
  font-weight: bold;
}
.org-hydra-face-red {
  /* hydra-face-red */
  color: #FF0000;
  font-weight: bold;
}
.org-hydra-face-teal {
  /* hydra-face-teal */
  color: #367588;
  font-weight: bold;
}
.org-ibuffer-locked-buffer {
  /* ibuffer-locked-buffer */
  color: #bc8f8f;
}
.org-ido-first-match {
  /* ido-first-match */
  color: #f92672;
  font-weight: bold;
}
.org-ido-incomplete-regexp {
  /* ido-incomplete-regexp */
  color: #ff0000;
  background-color: #363631;
}
.org-ido-indicator {
  /* ido-indicator */
  color: #ffff00;
  background-color: #ff0000;
}
.org-ido-only-match {
  /* ido-only-match */
  color: #ff0000;
}
.org-ido-subdir {
  /* ido-subdir */
  color: #ff0000;
}
.org-ido-vertical-first-match {
  /* ido-vertical-first-match-face */
  color: #f92672;
  font-weight: bold;
}
.org-ido-vertical-match {
  /* ido-vertical-match-face */
  color: #f92672;
  font-weight: bold;
  text-decoration: underline;
}
.org-ido-vertical-only-match {
  /* ido-vertical-only-match-face */
  color: #ff0000;
}
.org-ido-virtual {
  /* ido-virtual */
  color: #66d9ef;
}
.org-info-command-ref-item {
  /* info-command-ref-item */
  color: #7474FFFF7474;
  background-color: #696969;
}
.org-info-constant-ref-item {
  /* info-constant-ref-item */
  color: #ff1493;
  background-color: #696969;
}
.org-info-double-quoted-name {
  /* info-double-quoted-name */
  color: #00ffff;
}
.org-info-emphasis {
  /* info-emphasis */
  font-style: italic;
}
.org-info-file {
  /* info-file */
  color: #ffff00;
  background-color: #696969;
}
.org-info-function-ref-item {
  /* info-function-ref-item */
  color: #4D4DDDDDDDDD;
  background-color: #696969;
}
.org-info-header-node {
  /* info-header-node */
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
}
.org-info-header-xref {
  /* info-header-xref */
  color: #a281ff;
  text-decoration: underline;
}
.org-info-index-match {
  /* info-index-match */
  background-color: #3a5fcd;
}
.org-info-macro-ref-item {
  /* info-macro-ref-item */
  color: #ffff00;
  background-color: #696969;
}
.org-info-menu {
  /* info-menu */
  color: #ffff00;
}
.org-info-menu-header {
  /* info-menu-header */
  font-weight: bold;
}
.org-info-menu-star {
  /* info-menu-star */
  color: #ff0000;
}
.org-info-node {
  /* info-node */
  color: #ffffff;
  font-weight: bold;
  font-style: italic;
}
.org-info-quoted {
}
.org-info-quoted-name {
  /* info-quoted-name */
  color: #66d9ef;
}
.org-info-reference-item {
  /* info-reference-item */
  background-color: #696969;
}
.org-info-single-quote {
  /* info-single-quote */
  color: #00ff00;
  font-weight: bold;
}
.org-info-special-form-ref-item {
  /* info-special-form-ref-item */
  color: #ffff00;
  background-color: #696969;
}
.org-info-string {
  /* info-string */
  color: #e6db74;
}
.org-info-syntax-class-item {
  /* info-syntax-class-item */
  color: #FFFF9B9BFFFF;
  background-color: #696969;
}
.org-info-title-1 {
  /* info-title-1 */
  font-size: 172%;
  font-weight: bold;
}
.org-info-title-2 {
  /* info-title-2 */
  font-size: 144%;
  font-weight: bold;
}
.org-info-title-3 {
  /* info-title-3 */
  font-size: 120%;
  font-weight: bold;
}
.org-info-title-4 {
  /* info-title-4 */
  font-weight: bold;
}
.org-info-user-option-ref-item {
  /* info-user-option-ref-item */
  color: #ff0000;
  background-color: #696969;
}
.org-info-variable-ref-item {
  /* info-variable-ref-item */
  color: #ffa500;
  background-color: #696969;
}
.org-info-xref {
  /* info-xref */
  color: #a281ff;
  text-decoration: underline;
}
.org-internal-border {
}
.org-isearch {
  /* isearch */
  color: #ff0000;
  background-color: #454640;
  font-weight: bold;
}
.org-isearch-fail {
  /* isearch-fail */
  background-color: #8b0000;
}
.org-italic {
  /* italic */
  font-style: italic;
}
.org-keyword {
  /* font-lock-keyword-face */
  color: #f92672;
  font-weight: bold;
}
.org-lazy-highlight {
  /* lazy-highlight */
  color: #bdbdb1;
  background-color: #454640;
}
.org-line-number-current-line {
  /* line-number-current-line */
  color: #b3b3b3;
  background-color: #262626;
}
.org-link {
  /* link */
  color: #a281ff;
  text-decoration: underline;
}
.org-link-visited {
  /* link-visited */
  color: #ee82ee;
  text-decoration: underline;
}
.org-linum {
  /* linum */
  color: #545550;
  background-color: #262626;
}
.org-log-edit-header {
  /* log-edit-header */
  color: #f92672;
  font-weight: bold;
}
.org-log-edit-summary {
  /* log-edit-summary */
  color: #9ce22e;
  font-weight: bold;
}
.org-log-edit-unknown-header {
  /* log-edit-unknown-header */
  color: #626262;
}
.org-lv-separator {
  /* lv-separator */
  background-color: #4d4d4d;
}
.org-magit-bisect-bad {
  /* magit-bisect-bad */
  color: #8b3a3a;
}
.org-magit-bisect-good {
  /* magit-bisect-good */
  color: #556b2f;
}
.org-magit-bisect-skip {
  /* magit-bisect-skip */
  color: #b8860b;
}
.org-magit-blame-date {
}
.org-magit-blame-dimmed {
  /* magit-blame-dimmed */
  color: #7f7f7f;
}
.org-magit-blame-hash {
}
.org-magit-blame-heading {
  /* magit-blame-heading */
  color: #ffffff;
  background-color: #404040;
}
.org-magit-blame-highlight {
  /* magit-blame-highlight */
  color: #ffffff;
  background-color: #404040;
}
.org-magit-blame-margin {
  /* magit-blame-margin */
  color: #ffffff;
  background-color: #404040;
}
.org-magit-blame-name {
}
.org-magit-blame-summary {
}
.org-magit-branch-current {
  /* magit-branch-current */
  color: #b0e2ff;
}
.org-magit-branch-local {
  /* magit-branch-local */
  color: #b0e2ff;
}
.org-magit-branch-remote {
  /* magit-branch-remote */
  color: #b4eeb4;
}
.org-magit-branch-remote-head {
  /* magit-branch-remote-head */
  color: #b4eeb4;
}
.org-magit-branch-upstream {
  /* magit-branch-upstream */
  font-style: italic;
}
.org-magit-cherry-equivalent {
  /* magit-cherry-equivalent */
  color: #ff00ff;
}
.org-magit-cherry-unmatched {
  /* magit-cherry-unmatched */
  color: #00ffff;
}
.org-magit-diff-added {
  /* magit-diff-added */
  color: #ddffdd;
  background-color: #335533;
}
.org-magit-diff-added-highlight {
  /* magit-diff-added-highlight */
  color: #cceecc;
  background-color: #336633;
}
.org-magit-diff-base {
  /* magit-diff-base */
  color: #ffffcc;
  background-color: #555522;
}
.org-magit-diff-base-highlight {
  /* magit-diff-base-highlight */
  color: #eeeebb;
  background-color: #666622;
}
.org-magit-diff-conflict-heading {
  /* magit-diff-conflict-heading */
  color: #b3b3b3;
  background-color: #404040;
}
.org-magit-diff-context {
  /* magit-diff-context */
  color: #b3b3b3;
}
.org-magit-diff-context-highlight {
  /* magit-diff-context-highlight */
  color: #ababa0;
  background-color: #454640;
}
.org-magit-diff-file-heading {
  /* magit-diff-file-heading */
  font-weight: bold;
}
.org-magit-diff-file-heading-highlight {
  /* magit-diff-file-heading-highlight */
  background-color: #363631;
}
.org-magit-diff-file-heading-selection {
  /* magit-diff-file-heading-selection */
  color: #cd8162;
  background-color: #363631;
}
.org-magit-diff-hunk-heading {
  /* magit-diff-hunk-heading */
  color: #b3b3b3;
  background-color: #404040;
}
.org-magit-diff-hunk-heading-highlight {
  /* magit-diff-hunk-heading-highlight */
  color: #b3b3b3;
  background-color: #595959;
}
.org-magit-diff-hunk-heading-selection {
  /* magit-diff-hunk-heading-selection */
  color: #cd8162;
  background-color: #595959;
}
.org-magit-diff-hunk-region {
  /* magit-diff-hunk-region */
  font-weight: bold;
}
.org-magit-diff-lines-boundary {
  /* magit-diff-lines-boundary */
  color: #cccccc;
  background-color: #8b4c39;
}
.org-magit-diff-lines-heading {
  /* magit-diff-lines-heading */
  color: #cccccc;
  background-color: #8b4c39;
}
.org-magit-diff-our {
  /* magit-diff-our */
  color: #ffdddd;
  background-color: #553333;
}
.org-magit-diff-our-highlight {
  /* magit-diff-our-highlight */
  color: #eecccc;
  background-color: #663333;
}
.org-magit-diff-removed {
  /* magit-diff-removed */
  color: #ffdddd;
  background-color: #553333;
}
.org-magit-diff-removed-highlight {
  /* magit-diff-removed-highlight */
  color: #eecccc;
  background-color: #663333;
}
.org-magit-diff-revision-summary {
  /* magit-diff-revision-summary */
  color: #b3b3b3;
  background-color: #404040;
}
.org-magit-diff-revision-summary-highlight {
  /* magit-diff-revision-summary-highlight */
  color: #b3b3b3;
  background-color: #595959;
}
.org-magit-diff-their {
  /* magit-diff-their */
  color: #ddffdd;
  background-color: #335533;
}
.org-magit-diff-their-highlight {
  /* magit-diff-their-highlight */
  color: #cceecc;
  background-color: #336633;
}
.org-magit-diff-whitespace-warning {
  /* magit-diff-whitespace-warning */
  background-color: #626262;
}
.org-magit-diffstat-added {
  /* magit-diffstat-added */
  color: #9ce22e;
}
.org-magit-diffstat-removed {
  /* magit-diffstat-removed */
  color: #f92672;
}
.org-magit-dimmed {
  /* magit-dimmed */
  color: #7f7f7f;
}
.org-magit-filename {
}
.org-magit-hash {
  /* magit-hash */
  color: #bdbdb1;
}
.org-magit-head {
  /* magit-head */
  color: #b0e2ff;
}
.org-magit-header-line {
  /* magit-header-line */
  color: #f92672;
  font-weight: bold;
}
.org-magit-header-line-key {
  /* magit-header-line-key */
  color: #66d9ef;
}
.org-magit-header-line-log-select {
  /* magit-header-line-log-select */
  font-weight: bold;
}
.org-magit-keyword {
  /* magit-keyword */
  color: #e6db74;
}
.org-magit-keyword-squash {
  /* magit-keyword-squash */
  color: #ff0000;
  background-color: #363631;
}
.org-magit-log-author {
  /* magit-log-author */
  color: #ababa0;
}
.org-magit-log-date {
  /* magit-log-date */
  color: #cccccc;
}
.org-magit-log-graph {
  /* magit-log-graph */
  color: #cccccc;
}
.org-magit-mode-line-process {
  /* magit-mode-line-process */
  color: #f8f8f2;
}
.org-magit-mode-line-process-error {
  /* magit-mode-line-process-error */
  color: #ffc0cb;
  font-weight: bold;
}
.org-magit-popup-argument {
  /* magit-popup-argument */
  color: #ff0000;
  background-color: #363631;
}
.org-magit-popup-disabled-argument {
  /* magit-popup-disabled-argument */
  color: #b3b3b3;
}
.org-magit-popup-heading {
  /* magit-popup-heading */
  color: #f92672;
  font-weight: bold;
}
.org-magit-popup-key {
  /* magit-popup-key */
  color: #66d9ef;
}
.org-magit-popup-option-value {
  /* magit-popup-option-value */
  color: #e6db74;
}
.org-magit-process-ng {
  /* magit-process-ng */
  color: #ff0000;
  font-weight: bold;
}
.org-magit-process-ok {
  /* magit-process-ok */
  color: #9ce22e;
  font-weight: bold;
}
.org-magit-reflog-amend {
  /* magit-reflog-amend */
  color: #ff00ff;
}
.org-magit-reflog-checkout {
  /* magit-reflog-checkout */
  color: #0000ff;
}
.org-magit-reflog-cherry-pick {
  /* magit-reflog-cherry-pick */
  color: #00ff00;
}
.org-magit-reflog-commit {
  /* magit-reflog-commit */
  color: #00ff00;
}
.org-magit-reflog-merge {
  /* magit-reflog-merge */
  color: #00ff00;
}
.org-magit-reflog-other {
  /* magit-reflog-other */
  color: #00ffff;
}
.org-magit-reflog-rebase {
  /* magit-reflog-rebase */
  color: #ff00ff;
}
.org-magit-reflog-remote {
  /* magit-reflog-remote */
  color: #00ffff;
}
.org-magit-reflog-reset {
  /* magit-reflog-reset */
  color: #ff0000;
}
.org-magit-refname {
  /* magit-refname */
  color: #cccccc;
}
.org-magit-refname-pullreq {
  /* magit-refname-pullreq */
  color: #cccccc;
}
.org-magit-refname-stash {
  /* magit-refname-stash */
  color: #cccccc;
}
.org-magit-refname-wip {
  /* magit-refname-wip */
  color: #cccccc;
}
.org-magit-section-heading {
  /* magit-section-heading */
  color: #f92672;
  font-weight: bold;
}
.org-magit-section-heading-selection {
  /* magit-section-heading-selection */
  color: #cd8162;
}
.org-magit-section-highlight {
  /* magit-section-highlight */
  background-color: #363631;
}
.org-magit-section-secondary-heading {
  /* magit-section-secondary-heading */
  font-weight: bold;
}
.org-magit-sequence-done {
  /* magit-sequence-done */
  color: #bdbdb1;
}
.org-magit-sequence-drop {
  /* magit-sequence-drop */
  color: #cd5c5c;
}
.org-magit-sequence-exec {
  /* magit-sequence-exec */
  color: #bdbdb1;
}
.org-magit-sequence-head {
  /* magit-sequence-head */
  color: #b0e2ff;
}
.org-magit-sequence-onto {
  /* magit-sequence-onto */
  color: #bdbdb1;
}
.org-magit-sequence-part {
  /* magit-sequence-part */
  color: #eedc82;
}
.org-magit-sequence-pick {
  /* magit-sequence-pick */
  color: #f8f8f2;
  background-color: #262626;
}
.org-magit-sequence-stop {
  /* magit-sequence-stop */
  color: #b4eeb4;
}
.org-magit-signature-bad {
  /* magit-signature-bad */
  color: #ff0000;
  font-weight: bold;
}
.org-magit-signature-error {
  /* magit-signature-error */
  color: #cd2626;
}
.org-magit-signature-expired {
  /* magit-signature-expired */
  color: #ffa500;
}
.org-magit-signature-expired-key {
  /* magit-signature-expired-key */
  color: #ffa500;
}
.org-magit-signature-good {
  /* magit-signature-good */
  color: #00ff00;
}
.org-magit-signature-revoked {
  /* magit-signature-revoked */
  color: #d02090;
}
.org-magit-signature-untrusted {
  /* magit-signature-untrusted */
  color: #00ffff;
}
.org-magit-tag {
  /* magit-tag */
  color: #eedc82;
}
.org-makefile-makepp-perl {
  /* makefile-makepp-perl */
  background-color: #00008b;
}
.org-makefile-shell {
}
.org-makefile-space {
  /* makefile-space */
  background-color: #ff69b4;
}
.org-makefile-targets {
  /* makefile-targets */
  color: #9ce22e;
  font-weight: bold;
}
.org-markdown-blockquote {
  /* markdown-blockquote-face */
  color: #626262;
}
.org-markdown-bold {
  /* markdown-bold-face */
  font-weight: bold;
}
.org-markdown-code {
}
.org-markdown-comment {
  /* markdown-comment-face */
  color: #626262;
}
.org-markdown-footnote-marker {
  /* markdown-footnote-marker-face */
  color: #b3b3b3;
}
.org-markdown-footnote-text {
  /* markdown-footnote-text-face */
  color: #626262;
}
.org-markdown-gfm-checkbox {
  /* markdown-gfm-checkbox-face */
  color: #66d9ef;
}
.org-markdown-header-delimiter {
  /* markdown-header-delimiter-face */
  color: #b3b3b3;
}
.org-markdown-header-face-1 {
  /* markdown-header-face-1 */
  color: #9ce22e;
  font-weight: bold;
}
.org-markdown-header-face-2 {
  /* markdown-header-face-2 */
  color: #9ce22e;
  font-weight: bold;
}
.org-markdown-header-face-3 {
  /* markdown-header-face-3 */
  color: #9ce22e;
  font-weight: bold;
}
.org-markdown-header-face-4 {
  /* markdown-header-face-4 */
  color: #9ce22e;
  font-weight: bold;
}
.org-markdown-header-face-5 {
  /* markdown-header-face-5 */
  color: #9ce22e;
  font-weight: bold;
}
.org-markdown-header-face-6 {
  /* markdown-header-face-6 */
  color: #9ce22e;
  font-weight: bold;
}
.org-markdown-header-rule {
  /* markdown-header-rule-face */
  color: #b3b3b3;
}
.org-markdown-highlight {
  /* markdown-highlight-face */
  color: #ababa0;
  background-color: #454640;
}
.org-markdown-hr {
  /* markdown-hr-face */
  color: #b3b3b3;
}
.org-markdown-html-attr-name {
  /* markdown-html-attr-name-face */
  color: #f92672;
}
.org-markdown-html-attr-value {
  /* markdown-html-attr-value-face */
  color: #e6db74;
}
.org-markdown-html-entity {
  /* markdown-html-entity-face */
  color: #f92672;
}
.org-markdown-html-tag-delimiter {
  /* markdown-html-tag-delimiter-face */
  color: #b3b3b3;
}
.org-markdown-html-tag-name {
  /* markdown-html-tag-name-face */
  color: #9ce22e;
}
.org-markdown-italic {
  /* markdown-italic-face */
  font-style: italic;
}
.org-markdown-language-info {
  /* markdown-language-info-face */
  color: #e6db74;
}
.org-markdown-language-keyword {
  /* markdown-language-keyword-face */
  color: #9ce22e;
}
.org-markdown-line-break {
  /* markdown-line-break-face */
  color: #a281ff;
  text-decoration: underline;
}
.org-markdown-link {
  /* markdown-link-face */
  color: #a281ff;
  text-decoration: underline;
}
.org-markdown-link-title {
  /* markdown-link-title-face */
  color: #626262;
}
.org-markdown-list {
  /* markdown-list-face */
  color: #b3b3b3;
}
.org-markdown-markup {
  /* markdown-markup-face */
  color: #b3b3b3;
}
.org-markdown-math {
  /* markdown-math-face */
  color: #e6db74;
}
.org-markdown-metadata-key {
  /* markdown-metadata-key-face */
  color: #f92672;
}
.org-markdown-metadata-value {
  /* markdown-metadata-value-face */
  color: #e6db74;
}
.org-markdown-missing-link {
  /* markdown-missing-link-face */
  color: #ff0000;
  background-color: #363631;
}
.org-markdown-plain-url {
  /* markdown-plain-url-face */
  color: #a281ff;
  text-decoration: underline;
}
.org-markdown-reference {
  /* markdown-reference-face */
  color: #b3b3b3;
}
.org-markdown-strike-through {
  /* markdown-strike-through-face */
  text-decoration: line-through;
}
.org-markdown-url {
  /* markdown-url-face */
  color: #e6db74;
}
.org-match {
  /* match */
  background-color: #3a5fcd;
}
.org-menu {
}
.org-message-cited-text {
  /* message-cited-text */
  color: #ffaeb9;
}
.org-message-header-cc {
  /* message-header-cc */
  color: #7fff00;
  font-weight: bold;
}
.org-message-header-name {
  /* message-header-name */
  color: #00ff00;
}
.org-message-header-newsgroups {
  /* message-header-newsgroups */
  color: #ffff00;
  font-weight: bold;
  font-style: italic;
}
.org-message-header-other {
  /* message-header-other */
  color: #ff3e96;
}
.org-message-header-subject {
  /* message-header-subject */
  color: #c0ff3e;
}
.org-message-header-to {
  /* message-header-to */
  color: #caff70;
  font-weight: bold;
}
.org-message-header-xheader {
  /* message-header-xheader */
  color: #00bfff;
}
.org-message-mml {
  /* message-mml */
  color: #00fa9a;
}
.org-message-separator {
  /* message-separator */
  color: #b0e2ff;
}
.org-minibuffer-prompt {
  /* minibuffer-prompt */
  color: #db2765;
  font-weight: bold;
}
.org-mm-command-output {
  /* mm-command-output */
  color: #228b22;
}
.org-mmm-cleanup-submode {
  /* mmm-cleanup-submode-face */
  background-color: #cd853f;
}
.org-mmm-code-submode {
  /* mmm-code-submode-face */
  background-color: #696969;
}
.org-mmm-comment-submode {
  /* mmm-comment-submode-face */
  background-color: #4682b4;
}
.org-mmm-declaration-submode {
  /* mmm-declaration-submode-face */
  background-color: #00ced1;
}
.org-mmm-default-submode {
  /* mmm-default-submode-face */
  background-color: #333333;
}
.org-mmm-delimiter {
}
.org-mmm-init-submode {
  /* mmm-init-submode-face */
  background-color: #ba55d3;
}
.org-mmm-output-submode {
  /* mmm-output-submode-face */
  background-color: #c71585;
}
.org-mmm-special-submode {
  /* mmm-special-submode-face */
  background-color: #228b22;
}
.org-mode-line {
  /* mode-line */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-mode-line-buffer-id {
  /* mode-line-buffer-id */
  color: #9ce22e;
  font-weight: bold;
}
.org-mode-line-buffer-id-inactive {
  /* mode-line-buffer-id-inactive */
  color: #9ce22e;
  font-weight: bold;
}
.org-mode-line-emphasis {
  /* mode-line-emphasis */
  color: #f8f8f2;
}
.org-mode-line-highlight {
  /* mode-line-highlight */
  color: #f92672;
  font-weight: bold;
}
.org-mode-line-inactive {
  /* mode-line-inactive */
  color: #626262;
  background-color: #363631;
}
.org-mouse {
}
.org-mouse-drag-and-drop-region {
  /* mouse-drag-and-drop-region */
  color: #262626;
  background-color: #f8f8f2;
}
.org-negation-char {
  /* font-lock-negation-char-face */
  color: #a281ff;
}
.org-neo-banner {
  /* neo-banner-face */
  color: #add8e6;
  font-weight: bold;
}
.org-neo-button {
}
.org-neo-dir-link {
  /* neo-dir-link-face */
  color: #00bfff;
}
.org-neo-expand-btn {
  /* neo-expand-btn-face */
  color: #87ceeb;
}
.org-neo-file-link {
  /* neo-file-link-face */
  color: #ffffff;
}
.org-neo-header {
  /* neo-header-face */
  color: #ffffff;
}
.org-neo-root-dir {
  /* neo-root-dir-face */
  color: #add8e6;
  font-weight: bold;
}
.org-neo-vc-added {
  /* neo-vc-added-face */
  color: #90ee90;
}
.org-neo-vc-conflict {
  /* neo-vc-conflict-face */
  color: #ff0000;
}
.org-neo-vc-default {
  /* neo-vc-default-face */
  color: #ffffff;
}
.org-neo-vc-edited {
  /* neo-vc-edited-face */
  color: #ff00ff;
}
.org-neo-vc-ignored {
  /* neo-vc-ignored-face */
  color: #a9a9a9;
}
.org-neo-vc-missing {
  /* neo-vc-missing-face */
  color: #ff0000;
}
.org-neo-vc-needs-merge {
  /* neo-vc-needs-merge-face */
  color: #ff0000;
}
.org-neo-vc-needs-update {
  /* neo-vc-needs-update-face */
  text-decoration: underline;
}
.org-neo-vc-removed {
  /* neo-vc-removed-face */
  text-decoration: line-through;
}
.org-neo-vc-unlocked-changes {
  /* neo-vc-unlocked-changes-face */
  color: #ff0000;
  background-color: #0000ff;
}
.org-neo-vc-unregistered {
}
.org-neo-vc-up-to-date {
  /* neo-vc-up-to-date-face */
  color: #d3d3d3;
}
.org-neo-vc-user {
  /* neo-vc-user-face */
  color: #ff0000;
  font-style: italic;
}
.org-next-error {
  /* next-error */
  color: #262626;
  background-color: #f8f8f2;
}
.org-nobreak-hyphen {
  /* nobreak-hyphen */
  color: #00ffff;
}
.org-nobreak-space {
  /* nobreak-space */
  color: #00ffff;
  text-decoration: underline;
}
.org-org-agenda-calendar-event {
  /* org-agenda-calendar-event */
  color: #f8f8f2;
  background-color: #262626;
}
.org-org-agenda-calendar-sexp {
  /* org-agenda-calendar-sexp */
  color: #f8f8f2;
  background-color: #262626;
}
.org-org-agenda-clocking {
  /* org-agenda-clocking */
  background-color: #4a708b;
}
.org-org-agenda-column-dateline {
  /* org-agenda-column-dateline */
  background-color: #4d4d4d;
}
.org-org-agenda-current-time {
  /* org-agenda-current-time */
  color: #eedd82;
}
.org-org-agenda-date {
  /* org-agenda-date */
  color: #f92672;
  font-size: 110%;
}
.org-org-agenda-date-today {
  /* org-agenda-date-today */
  color: #f92672;
  font-size: 140%;
  font-weight: bold;
}
.org-org-agenda-date-weekend {
  /* org-agenda-date-weekend */
  color: #999990;
}
.org-org-agenda-diary {
  /* org-agenda-diary */
  color: #f8f8f2;
  background-color: #262626;
}
.org-org-agenda-dimmed-todo {
  /* org-agenda-dimmed-todo-face */
  color: #7f7f7f;
}
.org-org-agenda-done {
  /* org-agenda-done */
  color: #545550;
}
.org-org-agenda-filter-category {
  /* org-agenda-filter-category */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-org-agenda-filter-effort {
  /* org-agenda-filter-effort */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-org-agenda-filter-regexp {
  /* org-agenda-filter-regexp */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-org-agenda-filter-tags {
  /* org-agenda-filter-tags */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-org-agenda-restriction-lock {
  /* org-agenda-restriction-lock */
  background-color: #1C1C1C;
}
.org-org-agenda-structure {
  /* org-agenda-structure */
  color: #ababa0;
  background-color: #454640;
  font-weight: bold;
}
.org-org-archived {
  /* org-archived */
  color: #b3b3b3;
}
.org-org-block {
  /* org-block */
  color: #ababa0;
}
.org-org-block-begin-line {
  /* org-block-begin-line */
  color: #626262;
}
.org-org-block-end-line {
  /* org-block-end-line */
  color: #626262;
}
.org-org-checkbox {
  /* org-checkbox */
  font-weight: bold;
}
.org-org-checkbox-statistics-done {
  /* org-checkbox-statistics-done */
  color: #545550;
  font-weight: bold;
}
.org-org-checkbox-statistics-todo {
  /* org-checkbox-statistics-todo */
  color: #f92672;
  font-weight: bold;
}
.org-org-clock-overlay {
  /* org-clock-overlay */
  color: #ffffff;
  background-color: #4a708b;
}
.org-org-code {
  /* org-code */
  color: #bdbdb1;
}
.org-org-column {
  /* org-column */
  background-color: #4d4d4d;
}
.org-org-column-title {
  /* org-column-title */
  background-color: #4d4d4d;
  font-weight: bold;
  text-decoration: underline;
}
.org-org-date {
  /* org-date */
  color: #f92672;
  text-decoration: underline;
}
.org-org-date-selected {
  /* org-date-selected */
  color: #ffc0cb;
}
.org-org-default {
  /* org-default */
  color: #f8f8f2;
  background-color: #262626;
}
.org-org-document-info {
  /* org-document-info */
  color: #afeeee;
}
.org-org-document-info-keyword {
  /* org-document-info-keyword */
  color: #9ce22e;
}
.org-org-document-title {
  /* org-document-title */
  color: #afeeee;
  font-weight: bold;
}
.org-org-done {
  /* org-done */
  color: #545550;
  font-weight: bold;
}
.org-org-drawer {
  /* org-drawer */
  color: #87cefa;
}
.org-org-ellipsis {
  /* org-ellipsis */
  color: #66d9ef;
}
.org-org-footnote {
  /* org-footnote */
  color: #999990;
  text-decoration: underline;
}
.org-org-formula {
  /* org-formula */
  color: #ff7f24;
}
.org-org-headline-done {
  /* org-headline-done */
  color: #ffa07a;
}
.org-org-hide {
  /* org-hide */
  color: #262626;
}
.org-org-indent {
  /* org-indent */
  color: #262626;
}
.org-org-kbd {
  /* org-kbd */
  color: #000000;
  background-color: #fffacd;
}
.org-org-latex-and-related {
  /* org-latex-and-related */
  color: #deb887;
}
.org-org-level-1 {
  /* org-level-1 */
  color: #bdbdb1;
  font-size: 110%;
  font-weight: bold;
}
.org-org-level-2 {
  /* org-level-2 */
  color: #ababa0;
}
.org-org-level-3 {
  /* org-level-3 */
  color: #999990;
  font-weight: bold;
}
.org-org-level-4 {
  /* org-level-4 */
  color: #545550;
}
.org-org-level-5 {
  /* org-level-5 */
  color: #9ce22e;
}
.org-org-level-6 {
  /* org-level-6 */
  color: #a281ff;
}
.org-org-level-7 {
  /* org-level-7 */
  color: #66d9ef;
}
.org-org-level-8 {
  /* org-level-8 */
  color: #e6db74;
}
.org-org-link {
  /* org-link */
  color: #9ce22e;
  text-decoration: underline;
}
.org-org-list-dt {
  /* org-list-dt */
  font-weight: bold;
}
.org-org-macro {
  /* org-macro */
  color: #deb887;
}
.org-org-meta-line {
  /* org-meta-line */
  color: #626262;
}
.org-org-mode-line-clock {
  /* org-mode-line-clock */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-org-mode-line-clock-overrun {
  /* org-mode-line-clock-overrun */
  color: #999990;
  background-color: #ff0000;
  font-weight: bold;
}
.org-org-priority {
  /* org-priority */
  color: #f92672;
  font-weight: bold;
}
.org-org-property-value {
}
.org-org-quote {
  /* org-quote */
  color: #ababa0;
  font-style: italic;
}
.org-org-scheduled {
  /* org-scheduled */
  color: #9ce22e;
}
.org-org-scheduled-previously {
  /* org-scheduled-previously */
  color: #ff7f24;
}
.org-org-scheduled-today {
  /* org-scheduled-today */
  color: #9ce22e;
  font-size: 120%;
  font-weight: bold;
}
.org-org-sexp-date {
  /* org-sexp-date */
  color: #999990;
}
.org-org-special-keyword {
  /* org-special-keyword */
  color: #9ce22e;
}
.org-org-table {
  /* org-table */
  color: #87cefa;
}
.org-org-tag {
  /* org-tag */
  font-weight: bold;
}
.org-org-tag-group {
  /* org-tag-group */
  font-weight: bold;
}
.org-org-target {
  /* org-target */
  text-decoration: underline;
}
.org-org-time-grid {
  /* org-time-grid */
  color: #eedd82;
}
.org-org-todo {
  /* org-todo */
  color: #f92672;
  font-weight: bold;
}
.org-org-upcoming-deadline {
  /* org-upcoming-deadline */
  color: #ff7f24;
}
.org-org-upcoming-distant-deadline {
  /* org-upcoming-distant-deadline */
  color: #f8f8f2;
  background-color: #262626;
}
.org-org-verbatim {
  /* org-verbatim */
  color: #999990;
}
.org-org-verse {
  /* org-verse */
  color: #ababa0;
  font-style: italic;
}
.org-org-warning {
  /* org-warning */
  color: #ff0000;
  text-decoration: underline;
}
.org-outline-1 {
  /* outline-1 */
  color: #9ce22e;
  font-weight: bold;
}
.org-outline-2 {
  /* outline-2 */
  color: #f92672;
}
.org-outline-3 {
  /* outline-3 */
  color: #f92672;
  font-weight: bold;
}
.org-outline-4 {
  /* outline-4 */
  color: #626262;
}
.org-outline-5 {
  /* outline-5 */
  color: #9ce22e;
}
.org-outline-6 {
  /* outline-6 */
  color: #a281ff;
}
.org-outline-7 {
  /* outline-7 */
  color: #66d9ef;
}
.org-outline-8 {
  /* outline-8 */
  color: #e6db74;
}
.org-package-description {
  /* package-description */
  color: #f8f8f2;
  background-color: #262626;
}
.org-package-name {
  /* package-name */
  color: #a281ff;
  text-decoration: underline;
}
.org-package-status-avail-obso {
  /* package-status-avail-obso */
  color: #ffc0cb;
  font-weight: bold;
}
.org-package-status-available {
  /* package-status-available */
  color: #f8f8f2;
  background-color: #262626;
}
.org-package-status-built-in {
  /* package-status-built-in */
  color: #66d9ef;
}
.org-package-status-dependency {
  /* package-status-dependency */
  color: #626262;
}
.org-package-status-disabled {
  /* package-status-disabled */
  color: #ff0000;
  background-color: #363631;
}
.org-package-status-external {
  /* package-status-external */
  color: #66d9ef;
}
.org-package-status-held {
  /* package-status-held */
  color: #a281ff;
}
.org-package-status-incompat {
  /* package-status-incompat */
  color: #ffc0cb;
  font-weight: bold;
}
.org-package-status-installed {
  /* package-status-installed */
  color: #626262;
}
.org-package-status-unsigned {
  /* package-status-unsigned */
  color: #ff0000;
  background-color: #363631;
}
.org-page-break-lines {
  /* page-break-lines */
  color: #626262;
}
.org-persp-face-lighter-buffer-not-in-persp {
  /* persp-face-lighter-buffer-not-in-persp */
  color: #00F;
  background-color: #F00;
  font-weight: bold;
}
.org-persp-face-lighter-default {
  /* persp-face-lighter-default */
  font-style: italic;
}
.org-persp-face-lighter-nil-persp {
  /* persp-face-lighter-nil-persp */
  font-weight: bold;
  font-style: italic;
}
.org-powerline-active0 {
  /* powerline-active0 */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-powerline-active1 {
  /* powerline-active1 */
  color: #ffffff;
  background-color: #2b2b2b;
  font-weight: bold;
}
.org-powerline-active2 {
  /* powerline-active2 */
  color: #ffffff;
  background-color: #666666;
  font-weight: bold;
}
.org-powerline-inactive0 {
  /* powerline-inactive0 */
  color: #626262;
  background-color: #363631;
}
.org-powerline-inactive1 {
  /* powerline-inactive1 */
  color: #626262;
  background-color: #1c1c1c;
}
.org-powerline-inactive2 {
  /* powerline-inactive2 */
  color: #626262;
  background-color: #333333;
}
.org-preprocessor {
  /* font-lock-preprocessor-face */
  color: #66d9ef;
}
.org-query-replace {
  /* query-replace */
  color: #ff0000;
  background-color: #454640;
  font-weight: bold;
}
.org-rainbow-delimiters-base {
}
.org-rainbow-delimiters-base-error {
  /* rainbow-delimiters-base-error-face */
  color: #88090B;
}
.org-rainbow-delimiters-depth-1 {
  /* rainbow-delimiters-depth-1-face */
  color: #f8f8f2;
}
.org-rainbow-delimiters-depth-2 {
  /* rainbow-delimiters-depth-2-face */
  color: #9ce22e;
}
.org-rainbow-delimiters-depth-3 {
  /* rainbow-delimiters-depth-3-face */
  color: #f92672;
}
.org-rainbow-delimiters-depth-4 {
  /* rainbow-delimiters-depth-4-face */
  color: #a281ff;
}
.org-rainbow-delimiters-depth-5 {
  /* rainbow-delimiters-depth-5-face */
  color: #f92672;
}
.org-rainbow-delimiters-depth-6 {
  /* rainbow-delimiters-depth-6-face */
  color: #f8f8f2;
}
.org-rainbow-delimiters-depth-7 {
  /* rainbow-delimiters-depth-7-face */
  color: #9ce22e;
}
.org-rainbow-delimiters-depth-8 {
  /* rainbow-delimiters-depth-8-face */
  color: #f92672;
}
.org-rainbow-delimiters-depth-9 {
  /* rainbow-delimiters-depth-9-face */
  color: #9cb6ad;
}
.org-rainbow-delimiters-mismatched {
  /* rainbow-delimiters-mismatched-face */
  color: #ff0000;
}
.org-rainbow-delimiters-unmatched {
  /* rainbow-delimiters-unmatched-face */
  color: #ff0000;
}
.org-read-multiple-choice {
  /* read-multiple-choice-face */
  font-weight: bold;
  text-decoration: underline;
}
.org-rectangle-preview {
  /* rectangle-preview */
  color: #262626;
  background-color: #f8f8f2;
}
.org-regexp-grouping-backslash {
  /* font-lock-regexp-grouping-backslash */
  font-weight: bold;
}
.org-regexp-grouping-construct {
  /* font-lock-regexp-grouping-construct */
  font-weight: bold;
}
.org-region {
  /* region */
  color: #262626;
  background-color: #f8f8f2;
}
.org-rmail-header-name {
  /* rmail-header-name */
  color: #9ce22e;
  font-weight: bold;
}
.org-rmail-highlight {
  /* rmail-highlight */
  color: #ababa0;
  background-color: #454640;
}
.org-scroll-bar {
}
.org-secondary-selection {
  /* secondary-selection */
  background-color: #4a708b;
}
.org-sgml-namespace {
  /* sgml-namespace */
  color: #66d9ef;
}
.org-shadow {
  /* shadow */
  color: #b3b3b3;
}
.org-show-paren-match {
  /* show-paren-match */
  background-color: #4f94cd;
}
.org-show-paren-match-expression {
  /* show-paren-match-expression */
  background-color: #4f94cd;
}
.org-show-paren-mismatch {
  /* show-paren-mismatch */
  color: #ffffff;
  background-color: #a020f0;
}
.org-smerge-base {
  /* smerge-base */
  background-color: #24292e;
}
.org-smerge-lower {
  /* smerge-lower */
  background-color: #335533;
}
.org-smerge-markers {
  /* smerge-markers */
  background-color: #4d4d4d;
}
.org-smerge-refined-added {
  /* smerge-refined-added */
  background-color: #405540;
}
.org-smerge-refined-changed {
}
.org-smerge-refined-removed {
  /* smerge-refined-removed */
  background-color: #705353;
}
.org-smerge-upper {
  /* smerge-upper */
  background-color: #553333;
}
.org-sp-pair-overlay {
  /* sp-pair-overlay-face */
  color: #bdbdb1;
  background-color: #454640;
}
.org-sp-show-pair-enclosing {
  /* sp-show-pair-enclosing */
  color: #ababa0;
  background-color: #454640;
}
.org-sp-show-pair-match {
  /* sp-show-pair-match-face */
  background-color: #4f94cd;
}
.org-sp-show-pair-match-content {
}
.org-sp-show-pair-mismatch {
  /* sp-show-pair-mismatch-face */
  color: #ffffff;
  background-color: #a020f0;
}
.org-sp-wrap-overlay {
  /* sp-wrap-overlay-face */
  color: #bdbdb1;
  background-color: #454640;
}
.org-sp-wrap-overlay-closing-pair {
  /* sp-wrap-overlay-closing-pair */
  color: #ff0000;
  background-color: #454640;
}
.org-sp-wrap-overlay-opening-pair {
  /* sp-wrap-overlay-opening-pair */
  color: #00ff00;
  background-color: #454640;
}
.org-sp-wrap-tag-overlay {
  /* sp-wrap-tag-overlay-face */
  color: #bdbdb1;
  background-color: #454640;
}
.org-spaceline-flycheck-error {
  /* spaceline-flycheck-error */
  color: #FC5C94;
}
.org-spaceline-flycheck-info {
  /* spaceline-flycheck-info */
  color: #8DE6F7;
}
.org-spaceline-flycheck-warning {
  /* spaceline-flycheck-warning */
  color: #F3EA98;
}
.org-spaceline-python-venv {
  /* spaceline-python-venv */
  color: #ffbbff;
}
.org-spacemacs-helm-navigation-ms {
  /* spacemacs-helm-navigation-ms-face */
  color: #000000;
  background-color: #ffc0cb;
}
.org-spacemacs-ido-navigation-ms {
  /* spacemacs-ido-navigation-ms-face */
  color: #000000;
  background-color: #ffc0cb;
  font-weight: bold;
}
.org-spacemacs-micro-state-binding {
  /* spacemacs-micro-state-binding-face */
  color: #ffc0cb;
  font-weight: bold;
}
.org-spacemacs-micro-state-header {
  /* spacemacs-micro-state-header-face */
  color: #000000;
  background-color: #eead0e;
  font-weight: bold;
}
.org-spacemacs-mode-line-new-version-lighter-error {
  /* spacemacs-mode-line-new-version-lighter-error-face */
  color: #ffc0cb;
}
.org-spacemacs-mode-line-new-version-lighter-success {
  /* spacemacs-mode-line-new-version-lighter-success-face */
  color: #00ff00;
}
.org-spacemacs-mode-line-new-version-lighter-warning {
  /* spacemacs-mode-line-new-version-lighter-warning-face */
  color: #ff0000;
}
.org-spacemacs-transient-state-title {
  /* spacemacs-transient-state-title-face */
  color: #999990;
  background-color: #262626;
  font-weight: bold;
}
.org-speedbar-button {
  /* speedbar-button-face */
  color: #00cd00;
}
.org-speedbar-directory {
  /* speedbar-directory-face */
  color: #add8e6;
}
.org-speedbar-file {
  /* speedbar-file-face */
  color: #00ffff;
}
.org-speedbar-highlight {
  /* speedbar-highlight-face */
  background-color: #2e8b57;
}
.org-speedbar-selected {
  /* speedbar-selected-face */
  color: #ff0000;
  text-decoration: underline;
}
.org-speedbar-separator {
  /* speedbar-separator-face */
  color: #ffffff;
  background-color: #0000ff;
  text-decoration: overline;
}
.org-speedbar-tag {
  /* speedbar-tag-face */
  color: #ffff00;
}
.org-string {
  /* font-lock-string-face */
  color: #e6db74;
}
.org-success {
  /* success */
  color: #00ff00;
  font-weight: bold;
}
.org-table-cell {
  /* table-cell */
  color: #e5e5e5;
  background-color: #0000ff;
}
.org-tool-bar {
  /* tool-bar */
  color: #000000;
  background-color: #bfbfbf;
}
.org-tooltip {
  /* tooltip */
  color: #000000;
  background-color: #ffffe0;
}
.org-trailing-whitespace {
  /* trailing-whitespace */
  background-color: #626262;
}
.org-transient-active-infix {
  /* transient-active-infix */
  background-color: #4a708b;
}
.org-transient-argument {
  /* transient-argument */
  color: #ff0000;
  background-color: #363631;
}
.org-transient-disabled-suffix {
  /* transient-disabled-suffix */
  color: #000000;
  background-color: #ff0000;
  font-weight: bold;
}
.org-transient-enabled-suffix {
  /* transient-enabled-suffix */
  color: #000000;
  background-color: #00ff00;
  font-weight: bold;
}
.org-transient-heading {
  /* transient-heading */
  color: #f92672;
  font-weight: bold;
}
.org-transient-inactive-argument {
  /* transient-inactive-argument */
  color: #b3b3b3;
}
.org-transient-inactive-value {
  /* transient-inactive-value */
  color: #b3b3b3;
}
.org-transient-key {
  /* transient-key */
  color: #66d9ef;
}
.org-transient-mismatched-key {
  /* transient-mismatched-key */
  text-decoration: underline;
}
.org-transient-nonstandard-key {
  /* transient-nonstandard-key */
  text-decoration: underline;
}
.org-transient-separator {
  /* transient-separator */
  background-color: #4d4d4d;
}
.org-transient-unreachable {
  /* transient-unreachable */
  color: #b3b3b3;
}
.org-transient-unreachable-key {
  /* transient-unreachable-key */
  color: #b3b3b3;
}
.org-transient-value {
  /* transient-value */
  color: #e6db74;
}
.org-tty-menu-disabled {
  /* tty-menu-disabled-face */
  color: #d3d3d3;
  background-color: #0000ff;
}
.org-tty-menu-enabled {
  /* tty-menu-enabled-face */
  color: #ffff00;
  background-color: #0000ff;
  font-weight: bold;
}
.org-tty-menu-selected {
  /* tty-menu-selected-face */
  background-color: #ff0000;
}
.org-type {
  /* font-lock-type-face */
  color: #9ce22e;
}
.org-underline {
  /* underline */
  text-decoration: underline;
}
.org-undo-tree-visualizer-active-branch {
  /* undo-tree-visualizer-active-branch-face */
  color: #ffffff;
  font-weight: bold;
}
.org-undo-tree-visualizer-current {
  /* undo-tree-visualizer-current-face */
  color: #66d9ef;
}
.org-undo-tree-visualizer-default {
  /* undo-tree-visualizer-default-face */
  color: #bdbdb1;
}
.org-undo-tree-visualizer-register {
  /* undo-tree-visualizer-register-face */
  color: #9ce22e;
}
.org-undo-tree-visualizer-unmodified {
  /* undo-tree-visualizer-unmodified-face */
  color: #f92672;
}
.org-variable-name {
  /* font-lock-variable-name-face */
  color: #f92672;
}
.org-variable-pitch {
}
.org-vc-conflict-state {
}
.org-vc-edited-state {
}
.org-vc-locally-added-state {
}
.org-vc-locked-state {
}
.org-vc-missing-state {
}
.org-vc-needs-update-state {
}
.org-vc-removed-state {
}
.org-vc-state-base {
}
.org-vc-up-to-date-state {
}
.org-vertical-border {
  /* vertical-border */
  color: #ababa0;
}
.org-vhlXdefault {
  /* vhl/default-face */
  background-color: #4a708b;
}
.org-warning {
  /* warning */
  color: #ff0000;
}
.org-warning-1 {
  /* font-lock-warning-face */
  color: #ff0000;
  background-color: #363631;
}
.org-web-mode-annotation {
  /* web-mode-annotation-face */
  color: #626262;
}
.org-web-mode-annotation-html {
  /* web-mode-annotation-html-face */
  color: #626262;
  font-style: italic;
}
.org-web-mode-annotation-tag {
  /* web-mode-annotation-tag-face */
  color: #626262;
  text-decoration: underline;
}
.org-web-mode-annotation-type {
  /* web-mode-annotation-type-face */
  color: #626262;
  font-weight: bold;
}
.org-web-mode-annotation-value {
  /* web-mode-annotation-value-face */
  color: #626262;
  font-style: italic;
}
.org-web-mode-block {
  /* web-mode-block-face */
  background-color: #000000;
}
.org-web-mode-block-attr-name {
  /* web-mode-block-attr-name-face */
  color: #8fbc8f;
}
.org-web-mode-block-attr-value {
  /* web-mode-block-attr-value-face */
  color: #5f9ea0;
}
.org-web-mode-block-comment {
  /* web-mode-block-comment-face */
  color: #626262;
}
.org-web-mode-block-control {
  /* web-mode-block-control-face */
  color: #66d9ef;
}
.org-web-mode-block-delimiter {
  /* web-mode-block-delimiter-face */
  color: #66d9ef;
}
.org-web-mode-block-string {
  /* web-mode-block-string-face */
  color: #e6db74;
}
.org-web-mode-bold {
  /* web-mode-bold-face */
  font-weight: bold;
}
.org-web-mode-builtin {
  /* web-mode-builtin-face */
  color: #66d9ef;
}
.org-web-mode-comment {
  /* web-mode-comment-face */
  color: #626262;
}
.org-web-mode-comment-keyword {
  /* web-mode-comment-keyword-face */
  font-weight: bold;
}
.org-web-mode-constant {
  /* web-mode-constant-face */
  color: #a281ff;
}
.org-web-mode-css-at-rule {
  /* web-mode-css-at-rule-face */
  color: #a281ff;
}
.org-web-mode-css-color {
  /* web-mode-css-color-face */
  color: #66d9ef;
}
.org-web-mode-css-comment {
  /* web-mode-css-comment-face */
  color: #626262;
}
.org-web-mode-css-function {
  /* web-mode-css-function-face */
  color: #66d9ef;
}
.org-web-mode-css-priority {
  /* web-mode-css-priority-face */
  color: #66d9ef;
}
.org-web-mode-css-property-name {
  /* web-mode-css-property-name-face */
  color: #f92672;
}
.org-web-mode-css-pseudo-class {
  /* web-mode-css-pseudo-class-face */
  color: #66d9ef;
}
.org-web-mode-css-selector {
  /* web-mode-css-selector-face */
  color: #f92672;
  font-weight: bold;
}
.org-web-mode-css-string {
  /* web-mode-css-string-face */
  color: #e6db74;
}
.org-web-mode-css-variable {
  /* web-mode-css-variable-face */
  color: #f92672;
  font-style: italic;
}
.org-web-mode-current-column-highlight {
  /* web-mode-current-column-highlight-face */
  background-color: #3e3c36;
}
.org-web-mode-current-element-highlight {
  /* web-mode-current-element-highlight-face */
  color: #ffffff;
  background-color: #000000;
}
.org-web-mode-doctype {
  /* web-mode-doctype-face */
  color: #626262;
}
.org-web-mode-error {
  /* web-mode-error-face */
  background-color: #ff0000;
}
.org-web-mode-filter {
  /* web-mode-filter-face */
  color: #9ce22e;
  font-weight: bold;
}
.org-web-mode-folded {
  /* web-mode-folded-face */
  text-decoration: underline;
}
.org-web-mode-function-call {
  /* web-mode-function-call-face */
  color: #9ce22e;
  font-weight: bold;
}
.org-web-mode-function-name {
  /* web-mode-function-name-face */
  color: #9ce22e;
  font-weight: bold;
}
.org-web-mode-html-attr-custom {
  /* web-mode-html-attr-custom-face */
  color: #9ce22e;
}
.org-web-mode-html-attr-engine {
  /* web-mode-html-attr-engine-face */
  color: #66d9ef;
}
.org-web-mode-html-attr-equal {
  /* web-mode-html-attr-equal-face */
  color: #9ce22e;
}
.org-web-mode-html-attr-name {
  /* web-mode-html-attr-name-face */
  color: #9ce22e;
}
.org-web-mode-html-attr-value {
  /* web-mode-html-attr-value-face */
  color: #f92672;
}
.org-web-mode-html-entity {
  /* web-mode-html-entity-face */
  font-style: italic;
}
.org-web-mode-html-tag {
  /* web-mode-html-tag-face */
  color: #66d9ef;
}
.org-web-mode-html-tag-bracket {
  /* web-mode-html-tag-bracket-face */
  color: #cdc9c9;
}
.org-web-mode-html-tag-custom {
  /* web-mode-html-tag-custom-face */
  color: #66d9ef;
}
.org-web-mode-html-tag-namespaced {
  /* web-mode-html-tag-namespaced-face */
  color: #66d9ef;
}
.org-web-mode-html-tag-unclosed {
  /* web-mode-html-tag-unclosed-face */
  color: #66d9ef;
  text-decoration: underline;
}
.org-web-mode-inlay {
  /* web-mode-inlay-face */
  background-color: #000000;
}
.org-web-mode-interpolate-color1 {
  /* web-mode-interpolate-color1-face */
  color: #e6db74;
}
.org-web-mode-interpolate-color2 {
  /* web-mode-interpolate-color2-face */
  color: #e6db74;
}
.org-web-mode-interpolate-color3 {
  /* web-mode-interpolate-color3-face */
  color: #e6db74;
}
.org-web-mode-italic {
  /* web-mode-italic-face */
  font-style: italic;
}
.org-web-mode-javascript-comment {
  /* web-mode-javascript-comment-face */
  color: #626262;
}
.org-web-mode-javascript-string {
  /* web-mode-javascript-string-face */
  color: #e6db74;
}
.org-web-mode-json-comment {
  /* web-mode-json-comment-face */
  color: #626262;
}
.org-web-mode-json-context {
  /* web-mode-json-context-face */
  color: #cd69c9;
}
.org-web-mode-json-key {
  /* web-mode-json-key-face */
  color: #dda0dd;
}
.org-web-mode-json-string {
  /* web-mode-json-string-face */
  color: #e6db74;
}
.org-web-mode-jsx-depth-1 {
  /* web-mode-jsx-depth-1-face */
  background-color: #000053;
}
.org-web-mode-jsx-depth-2 {
  /* web-mode-jsx-depth-2-face */
  background-color: #001970;
}
.org-web-mode-jsx-depth-3 {
  /* web-mode-jsx-depth-3-face */
  background-color: #002984;
}
.org-web-mode-jsx-depth-4 {
  /* web-mode-jsx-depth-4-face */
  background-color: #49599a;
}
.org-web-mode-jsx-depth-5 {
  /* web-mode-jsx-depth-5-face */
  background-color: #9499b7;
}
.org-web-mode-keyword {
  /* web-mode-keyword-face */
  color: #f92672;
}
.org-web-mode-param-name {
  /* web-mode-param-name-face */
  color: #cdc9c9;
}
.org-web-mode-part {
  /* web-mode-part-face */
  background-color: #000000;
}
.org-web-mode-part-comment {
  /* web-mode-part-comment-face */
  color: #626262;
}
.org-web-mode-part-string {
  /* web-mode-part-string-face */
  color: #e6db74;
}
.org-web-mode-preprocessor {
  /* web-mode-preprocessor-face */
  color: #66d9ef;
}
.org-web-mode-script {
  /* web-mode-script-face */
  background-color: #000000;
}
.org-web-mode-sql-keyword {
  /* web-mode-sql-keyword-face */
  font-weight: bold;
  font-style: italic;
}
.org-web-mode-string {
  /* web-mode-string-face */
  color: #e6db74;
}
.org-web-mode-style {
  /* web-mode-style-face */
  background-color: #000000;
}
.org-web-mode-symbol {
  /* web-mode-symbol-face */
  color: #eeb422;
}
.org-web-mode-type {
  /* web-mode-type-face */
  color: #9ce22e;
}
.org-web-mode-underline {
  /* web-mode-underline-face */
  text-decoration: underline;
}
.org-web-mode-variable-name {
  /* web-mode-variable-name-face */
  color: #f92672;
}
.org-web-mode-warning {
  /* web-mode-warning-face */
  color: #ff0000;
  background-color: #363631;
}
.org-web-mode-whitespace {
  /* web-mode-whitespace-face */
  background-color: #68228b;
}
.org-which-func {
  /* which-func */
  color: #0000ff;
}
.org-which-key-command-description {
  /* which-key-command-description-face */
  color: #9ce22e;
  font-weight: bold;
}
.org-which-key-docstring {
  /* which-key-docstring-face */
  color: #626262;
}
.org-which-key-group-description {
  /* which-key-group-description-face */
  color: #f92672;
  font-weight: bold;
}
.org-which-key-highlighted-command {
  /* which-key-highlighted-command-face */
  color: #9ce22e;
  font-weight: bold;
  text-decoration: underline;
}
.org-which-key-key {
  /* which-key-key-face */
  color: #a281ff;
}
.org-which-key-local-map-description {
  /* which-key-local-map-description-face */
  color: #9ce22e;
  font-weight: bold;
}
.org-which-key-note {
  /* which-key-note-face */
  color: #626262;
}
.org-which-key-separator {
  /* which-key-separator-face */
  color: #626262;
}
.org-which-key-special-key {
  /* which-key-special-key-face */
  color: #a281ff;
  font-weight: bold;
}
.org-widget-button {
  /* widget-button */
  font-weight: bold;
}
.org-widget-button-pressed {
  /* widget-button-pressed */
  color: #ff0000;
}
.org-widget-documentation {
  /* widget-documentation */
  color: #32cd32;
}
.org-widget-field {
  /* widget-field */
  background-color: #696969;
}
.org-widget-inactive {
  /* widget-inactive */
  color: #b3b3b3;
}
.org-widget-single-line-field {
  /* widget-single-line-field */
  background-color: #696969;
}
.org-window-divider {
  /* window-divider */
  color: #333333;
}
.org-window-divider-first-pixel {
}
.org-window-divider-last-pixel {
  /* window-divider-last-pixel */
  color: #666666;
}
.org-winum {
}
.org-yas--field-debug {
}
.org-yas-field-highlight {
  /* yas-field-highlight-face */
  color: #262626;
  background-color: #f8f8f2;
}
pre.src:before {
    color: #657b83;
}
pre.src {
    color: #c5c8c6
}
