@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,500&family=Source+Code+Pro&display=swap');

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body p, body ul{
	font-size: 1.2rem;
}
ol li {
    font-size: 1.2rem;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b,
strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #3f9f9f;
    color: #fffff8;
}
code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 75%;
}
pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
small {
    font-size: 80%;
}
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

img {
    border: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
}
.figure p {
	color: #657b83;
	text-align: center;
	font-size: 90%;
	font-style: italic;
}


svg:not(:root) {
    overflow: hidden;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0;
    padding: 0;
}
button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
button,
input {
    line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled],
input[disabled] {
    cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
	margin: auto;
}
html {
    font-family: 'EB Garamond', serif;
}
pre,
code {
    font-family: 'Source Code Pro', monospace;
}

div.banner{
	font-family: 'Quicksand', sans-serif;
    /* font-weight: bold; */
	text-align: left;
	color: #657b83;
    padding-bottom: 1em;
	margin-bottom: .5em;
    border-bottom: 1px dashed #93a1a1;
}
#name{
	color: #657b83;
	text-decoration: none;
	font-size: 30px;
}
/* @media all and (max-width: 650px) { */
/*   #name { */
/*     font-size: 3em; */
/*   } */
/* } */
#name:hover {
    color: #3f9f9f;
}
p#subtitle{
	font-size: 2em;
    visible: false;
}

.subtitle{
	font-size: 0.5em;
	font-style: italic;
	font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 	padding-top: 0.6em;
  font-family: 'EB Garamond', serif;
  font-weight: bold;
}
html {
    background-color: #ffffff;
    color: #2f2f2f;
    margin: 1em;
    height: 90%;
}
body {
    font-size: 13pt;
    margin: 0 auto;
    max-width: 765px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
}
#content {
    flex: 1 0 auto;
}
code {
  background-color: rgba(27,31,35,.05);
  font-size: 70%;
  padding: .2em .4em;
  border-radius: 3px;
  color: black;
  margin: 0;
}
a {
    text-decoration: none;
    color: #cc342b;
}
a:visited {
    color: #cc342b;
}
a:hover {
    border-bottom: 1.5px solid;
    color: #cc342b;
}
h1 {
    color: #3971ed;
}
h2,
h3,
h4,
h5,
h6 {
    color: #000000;
}
h2::after {
    content: " ";
    display: block;
    width: 50%;
    border-bottom: 2px solid #fba922;
}
div#table-of-contents h2::after {
    border-bottom: none;
}
.title{
	text-align: center;
	font-weight: bold;
	font-size: 2em;
  padding-top: 0em;
}
pre {
    background-color: #272822;
    color: #657b83;
    border: 1pt solid #c5c8c6;
    border-radius: 5px;
    padding: 1em;
    box-shadow: 2pt 2pt 4pt #93a1a1;
}
pre code {
    background-color: #fdf6e3;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.7rem;
}
h3 {
    font-size: 1.3rem;
}
h4 {
    font-size: 1.2rem;
}
h5 {
    font-size: 1.1rem;
}
h6 {
    font-size: 1rem;
}
p, h1, h2, h3, h4, h5, h6, ul  {
    /* max-width: 700px; */
    /* margin: 0 auto; */
    -moz-hyphens: auto;

}
.figure {
    max-width: 765px;
    margin: 0 auto;
}
.tag {
    background-color: #93a1a1;
    color: #3f9f9f;
    padding: 0 0.2em;
}
.org-ref-bib-h1,
.footnotes {
	font-size: 1.4rem;
	font-style: italic;
}

#footer {
	width: 100%;
	font-size: 1.2em;
	margin-bottom: 3em;
	margin-top: 15%;
}

#footer ul {
	display: flex;
	justify-content: center;
	align-items:center;
	height:2em;
	margin: 0;
	padding: 0;
}
#footer li {
	list-style: none;
	display: inline-block;
	margin: 0 5px;
}

#footer a {
	color: #657b83;
}

#footer a:hover {
	color: #3f9f9f;
}

#license-note {
	color: #657b83;
	text-align: center;
	font-size: 75%;
	padding-top: 3em;
}

/* Fallback for other elements from solarized-css */
.todo,
.next,
.done {
    color: #fdf6e3;
    background-color: #969896;
    padding: 0 0.2em;
    font-size: 0.8em;
    font-family: 'Source Code Pro', monospace;
}
.tag {
    -webkit-border-radius: 0.35em;
    -moz-border-radius: 0.35em;
    border-radius: 0.35em;
}
.TODO {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #cc342b;
}
.NEXT {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #3971ed;
}
.ACTIVE {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #3971ed;
}
.DONE {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color:  #198844;
}
.WAITING {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #cb4b16;
}
.HOLD {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #d33682;
}
.NOTE {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #d33682;
}
.CANCELLED {
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background-color: #859900;
}

.title::after {
    content: " ";
    background: url(../images/dividers/314554-P8S2YV-938.svg) no-repeat 2px -340px;
    background-size: 100%;
    width: 500px;
    height: .7em;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#postamble {
    flex-shrink: 0;
    text-align: center;
    padding-bottom: 10px;
}
#postamble::before {
    content: " ";
    background: url(../images/3166168.svg) no-repeat 0px -25px;
    background-size: 100%;
    width: 180px;
    height: 2em;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blue {
    color: #3971ed;
}

.h3-preamble {
    margin: 0px;
    padding: 0px;
}

.published-date {
    font-size: 0.85em;
    color: #969896;
}
kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    color: #333;
    margin: 0 .1em;
    padding: .08em .3em;
    text-shadow: 0 1px 0 #fff;
    font-size: 65%;
}
#footnotes {
    margin-bottom: 1.2em;
}
.footdef {
    margin-bottom: 0.1em;
}
.footpara {
    font-size: 1em;
}
.credits {
    font-size: 0.7em;
}

blockquote{
    font-size: 1em;
    width: 75%;
    margin:  50px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 0.2em 2em;
    border-left: 4px solid #198844;
    line-height:1.6;
    position: relative;
    background:#EDEDED;
}
